In [1]:
import pandas as pd
from tqdm import tqdm
import pickle

# 1. Pickle of combined protein [concat(P1,P2)]

In [4]:
with open('./pickle/prot_to_seq_pickle/combined_prot.pickle', 'rb') as handle:
    dc= pickle.load(handle)

In [5]:
len(dc)

1371253

### 1.1 CSV related to this pickle

In [9]:
data_train_name = pd.read_csv("./csv_files_new_ppi/training_and_test_set/combined_prot_a_prot_b/combined_train_only_name.csv",nrows = 100)

In [10]:
data_train_name.head()

   Protein_name  label
0   Prot_699090      1
1   Prot_823864      1
2    Prot_82588      1
3   Prot_226837      1
4  Prot_1125748      1

In [12]:
data_test_name = pd.read_csv("./csv_files_new_ppi/training_and_test_set/combined_prot_a_prot_b/combined_test_only_name.csv",nrows = 100)

In [23]:
data_test_name.head()

   Protein_name  label
0    Prot_31599      1
1   Prot_142353      1
2  Prot_1220359      1
3  Prot_1069133      1
4  Prot_1145079      1

# 2. Pickle of unique proteins

In [14]:
with open('./pickle/prot_to_seq_pickle/all_prot_seq_for_bert.pickle', 'rb') as handle:
    dc_pos= pickle.load(handle)

In [15]:
len(dc_pos)

23439

In [16]:
with open('./pickle/prot_to_seq_pickle/all_prot_negatome_seq_for_bert.pickle', 'rb') as handle:
    dc_neg= pickle.load(handle)

In [17]:
len(dc_neg)

1342

### 2.1 CSV related to this pickle

In [20]:
data_train = pd.read_csv("./csv_files_new_ppi/training_and_test_set/train_set_without_embedding.csv",nrows = 100)

In [22]:
data_train.head()

  Protein_A  Protein_B  label
0  PRO_1968   PRO_3259      1
1  PRO_1968  PRO_20825      1
2  PRO_1968  PRO_11236      1
3  PRO_1968  PRO_16190      1
4  PRO_1968   PRO_4579      1

In [25]:
data_test = pd.read_csv("./csv_files_new_ppi/training_and_test_set/test_set_without_embedding.csv",nrows = 100)

In [26]:
data_test.head()

   Protein_A  Protein_B  label
0   PRO_4691   PRO_2365      1
1  PRO_12486  PRO_12486      1
2  PRO_12486  PRO_15453      1
3  PRO_12486  PRO_22362      1
4  PRO_12486   PRO_3423      1