In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("combined_train.csv")
val = pd.read_csv("combined_val.csv")
test = pd.read_csv("combined_test.csv")

In [3]:
train

                                             combined_pro  label
0       M A T F P P A T S A P Q Q P P G P E D E D S S ...      0
1       M F R M L N S S F E D D P F F S E S I L A H R ...      0
2       M E L V Q V L K R G L Q Q I T G H G G L R G Y ...      1
3       M D P F L V L L H S V S S S L S S S E L T E L ...      1
4       M F P K F S L R S M F H G A G G G N D I Q W C ...      0
...                                                   ...    ...
483601  M G A L R P T L L P P S L P L L L L L M L G M ...      0
483602  M K F N P F V T S D R S K N R K R H F N A P S ...      1
483603  M A T E H P E P P K A E L Q L P P P P P P G H ...      1
483604  M D S V A F E D V A V N F T Q E E W A L L G P ...      0
483605  M D Q P A G L Q V D Y V F R G V E H A V R V M ...      0

[483606 rows x 2 columns]

In [8]:
train_pos = train[train.label == 1][0:5000]
train_neg = train[train.label == 0][0:5000]
combined_train = pd.concat([train_pos,train_neg]).sample(frac = 1)

val_pos = val[val.label == 1][0:1000]
val_neg = val[val.label == 0][0:1000]
combined_val = pd.concat([val_pos,val_neg]).sample(frac = 1)


test_pos = test[test.label == 1][0:1000]
test_neg = test[test.label == 0][0:1000]
combined_test = pd.concat([test_pos,test_neg]).sample(frac = 1)

In [7]:
combined_train.label.value_counts()

0    5000
1    5000
Name: label, dtype: int64

In [9]:
combined_test.label.value_counts()

1    1000
0    1000
Name: label, dtype: int64

In [10]:
combined_train.to_csv("combined_train.csv",index = False)

In [11]:
combined_val.to_csv("combined_val.csv",index = False)

In [12]:
combined_test.to_csv("combined_test.csv",index = False)